doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Analysis Admin

    !=styles
    link(rel='shortcut icon', href='/assets/ico/favicon.png')
  body
    //
       Top menu

    //
       Heading
    .heading-container.section-container
      .container
        .row
          .col-sm-12.features.section-description(style='margin-top:30px')
            div(style='min-height:600px')
              .center.mtxxl
                h3 We're sorry, but this site does not support Internet Explorer.
                h4 We recommend trying
                  | <a style='text-decoration:none' href="https://www.google.com/chrome">Chrome</a>
                  | (Safari, Firefox, and Opera will work too).
                h2.mtl Get <a style='text-decoration:none' href="https://www.google.com/chrome">Google Chrome</a>.

